<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Patient user_id</th>
      <th>Patient hospitalnumber</th>
      <th>Patient name</th>
      <th>Patient gender</th>
      <th>Patient age</th>
      <th>Patient height</th>
      <th>Patient weight</th>
      <th>Patient telephone</th>
      <th>Patient idnumber</th>
      <th>Patient residence</th>
      <th>Patient situation</th>
      <th>Patient url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.user_id %></td>
        <td><%= patient.patient_hospitalNumber %></td>
        <td><%= patient.patient_name %></td>
        <td><%= patient.patient_gender %></td>
        <td><%= patient.patient_age %></td>
        <td><%= patient.patient_height %></td>
        <td><%= patient.patient_weight %></td>
        <td><%= patient.patient_telephone %></td>
        <td><%= patient.patient_idNumber %></td>
        <td><%= patient.patient_residence %></td>
        <td><%= patient.patient_situation %></td>
        <td><%= patient.patient_url %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
